Source: gluppy
Section: user/navigation
Priority: extra
Maintainer: Mark Riedesel <mark@klowner.com>
Build-Depends: debhelper (>= 4), libcurl3-dev, liblocation-dev, libgtk2.0-dev
Standards-Version: 4

Package: gluppy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Update Google Latitude via GPS/AGPS
XB-Maemo-Display-Name: Gluppy Latitude Updater
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0
 d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAFN1JREFUeNq8WQl0leWZfv7l
 /nffb25uErKSQMIWdhRUtEituKClpWit2qmeLnpsO546znRsx24z03Z6am1t
 rdaVuoIIVIEIgiIgEjAJJCQQsu9kvbnrv877/TdUKsaGM6fzc37vPf433/cu
 z/s87/v9nGHI+HuXDg6KpmF0TEYwYIdI/040tyIVV7Dr3ToEQ27YLBaMx5NQ
 ZA1LFpb5sv3e4MGjTb7aE63hcMizoKGpM3L6TI+7uCAyfOO1S/Zct3pBlcdp
 UwEDmkE7cDzoAwLtdTEXN1UH2CappAG7Q8Tp5m5f/enO8Nhownf4w9PZiVR6
 wdDQeGR4ZDwcjcYjsXi6bHB43K1znN3isEMTeVgcNthdNiTHk4h1D6CsMHLk
 e/fe9Mj6Gy553eNyx3UotJEB/h/hACjiLFIvbDmw7snnq+6oa2hbGkukfQZn
 WEUyUHQ5YHHa4A55ESzJhSc7BFfQA2fQC19uFqxuOwSLaN6aqqOj+iSOvFiF
 9kPHMXdGXvPa65ZvvnP9yt9ML8ztga5cnAO6lv70H/ACYgnZ8c3vPf7Mxpf2
 fDG4sBzlKxfAlxOEK+CBNy8LDvoUbRZYJAmcSCDgOIKDAcOgm6BHXzJrURA4
 noNotUDXdLR90Ij3Nu5G2873MLM8v2/zU/9y0+wZBYeNid9PyQFF+/QMCLyI
 B3/67KM//8Mb9z74i2+h6JpLMEhOjakaBNrHUM8ZaJifZLvpALuYIYqiI53W
 IcsGUikN0aiGeEJHkrZNajzSMo+xujp0PvcEVi4vf//ZX3/7cvCcqk/RB9Hg
 +UkeGbAQdE6e6Zjz22ervv6Dx+7Hwzdcgn5VRVdKxTFFRS/tEqfaUMk4OW0g
 rWhIJnWMjalIktGplIHxmI4EPVMIOqpqmJnhdQ12qHDyKuyqDKN8NrKuuQ7H
 3t2x+I291YV+r+uMxjI3FQfYYpjUBR173jn+mYQuWOaXFmBPdy+uzMlGFhWj
 jYz516PDGBqliI6T4TIZSEsRCRE8WCYMCLS2k9PgptupJRHi0/SdDEcKPoGM
 p/VTLj+q6FPKL0ZStPBl+UFXRWkeBUOdmgMHqxsnfchzIo7WNoUkrw+/b+hE
 UUDGWFqB3+HC7w/EcKQ9BUngYON0WCmiHhZVMjTAkaGGApeRRkA04LJwcEo8
 nHYJTpuEQCCIgN8Dt9OKQ5063mzWTBTyvKCHQ341JydEsJtaMYs/e2z7p+Cf
 R0d7n26lomOwHknL2NbSgnJnKfZ3pJHNxbFSOAurrsJhGsrDRYYG/S543R54
 XHZkZfngpk+H3QqrJMBCenH+dax/gKAVN4vdIDjaaC9BkOCwTY1Oxf7Bsckd
 EHgSpxR9cZoFquk6yv1BdA8IUAjLki6jzK1g6cIyZIf9cBGVMkPtFOWpXQRS
 pl60LvtgRf/GvlrUnuqCqkyxBuw226SLC0SJDrsNg1SMTGQI2XBQdAajhE8C
 PHNItFpNB/AxAWofrcXBzk3oHu1FxDUTq0s3INudf+EutLSmZEhMpz1++fhf
 jMxSU8zAA/fc9CkVzuMPT7+JM8d7KEK6uSaLEtsIOkciknFUoYI7HxonB9/G
 q/Xfx3gqhZQiorbnAxxufxcPrHwE+f6ST5J68kI317IxwaN9p6oE4uI5RZM+
 tBDfvxZwG7qq49yKBjdB+xNCdY7zz11JZRxVzY+ZvZMkuClRBhWwHT3RTjxz
 5FF8f/X/EDnw5yc6I3h6Zi0/1Y9FFGFM0QXxiWffmvQhK96xsYQmChll5SbE
 yaBoaSRQROj4mP0EnXp0jLaR8XZywqACZcGleqE6qumtRm+0C3negr9NAMGR
 KTNby+W2kaJbzP2m5ICf6GyyizGCzW7V2OLUzWUgxB4w8TUd0ima+Jss9Me6
 EEvpsIsZVMgqdbKkGUyXUrKCaCpKDvxtDTB0sqAwFtJJO3T6m6m2E+K8WbmT
 PpQsEppbO1XWgJ1bUDerjm4yihMMsw0+/wrYp5EKC2D6qBvMeJh3mhlIuuK2
 eT9GFfRPzazJsJ8bDsBKLDblDEiCZdKHdkql1SLKLDKZBbnMhixiTCj5C8mi
 NDgPQft0dI6egUWwmTXAKHcsmcKq0uswzXshEzHjTScok04Ho2IpQxRTcSDg
 c0/6kC3mcjpkxkCGlnFAnyg4E0L0nc90bx85bXHg7mUP4uFd/4xYOmFWfZqM
 EzknrihZ9QlknYFjBkcTLDdx/50+1NQQsbRwcghZrAIiIb/CWMiMCDfBGgwO
 JDS85cJN0moKJ3rrqYAFJGTDdEDV2K3jgW0PYVZ2Jb5z5bdQmTc7k1EmkEQI
 usogxBk52T7NSTOGruuT2W3SNlvPTcIpfvenT0+eHmKfxlNdmkTcbGgZADE/
 zAxoGX9YAZ+Lf/twO3648yHU9XxI8LMTwkSTgVgxM0ZKKQqqGvdjb9Mx/OzG
 B3Hr4rUZJ1jwdd3kCJskGjYKnK5znyh6CjHWwtlFyKJhqSA3AHHbnqOTN3NE
 MXJKzgiLlom2xlKgZeSfn9ABQRAwkhzBPa/ej1ODTfBYXdTnZwrUJDAdE1kg
 l4hOo8k07tz47yRaVjitSzPwmcC8YXx0n48zFgiBAloQ8eGayythtzvogQpx
 1eLyT2nmBHT2nMW+mm4qMj1TtUamXTYo7efX8MM7foXqjkYEnB6CzgS/cKwh
 pyLWMkNNiiZfLSHCwrkRkbx4ZtcBrJlfQYpOWVRkMxd54ZDq9TgIJppZByx4
 bGQJeKyI+CVkhdyk+gIFQzFpXPzdf33tk4Fm/teCJ17YiapDLTTL4iManbhZ
 BpxWGz5oq8VL1Tshig7EiOsZa6k0xGjjNKKnHHCp2ciRwsgLllIbXQCHNwLD
 GiR15vDkuyP0e+pSSfwEqyVZNn3aKOu/Aj4nGW1jHSU5mIaejiKVSJr9F6tH
 iu1EM0fd4+R1bkFJcaQPNHYmR2I0z/rMtsXkeIUxEPUuNAdvOlaF/v4R0oAw
 3LoPLjmMsLUQ2b4Z1EpH4PRmY0iWMJzmUBdVcHYgTX1SFGxudNjtCOm96Gw4
 itu+cPmuK5aVD48O98HFDgqomWSjp8YIgcZQTfvI8I9Gyk+gK5MwSaBSyShW
 XTZ3R+Xs/JMt7xyriFR+lnLJVDWjC6xjae/vx/CoAzflfReF2bNI33yIqTYM
 JHk0xzWMnJURa09STcTNro0pNzMsmyAhQoY21ITmgzsIegpWlMTK25pqVtns
 zj1eGqJMdjWMT1Vl4Yc/fOjCyFNh8hT9o+/vvWK0v3221+sKbX/hrXnjcQlz
 l5VioENEW3+aJjEZuuRBkpuHgVQx6vrobzoUnOhJonMwiZFYmmZlzXSW6o9u
 zqyjbKeB5Mnd6Kl5D73HD6Bsmg33bpgHPtUbaTxx9PZkMl4aCud8KEm2UYOj
 vogoT0kTfIg+OYKU0+UhNPCZUw5NT1+Afo6T0FB7cMOuLRv/nFc4nc8vmoGX
 9/Tgkaf2oXTpLMy5/HPYf4JjXRhhkh16ERPx7JBJzXxOdkBGgWTTmdGxH4O1
 W7CqvBNzSpxY/JlvwJ01DyND3Tjb2YDESC88Xt/ZOQuX/7zyktW/09V0MpkY
 QzqeBE/dQVb2NIKSYBbxBQ7wZPyp+uoNb2x6+nkyXrzplnsg0dCCZBO2v30K
 d3/vRSQsPkRmr4DhLDQXQXKQNnRhSAkgGk9n1PkTeVlE2BZFw5uP4e6lh/H5
 RT2gCRpC4X3QiV4t7hmUJhdGB9sx2H0SSnwUefkltRWVyx4oKquoikejjBon
 d4AZf6bpw7VbX/jjpmA4R1z/1fthdzhxqvUxDDY9jpyRYRxulfCTLYWo7/JC
 dJGQiBI4lSJDjd+MKzegJ+akVCsXzAmMx0N+B8bqt8N/9jk8/MVeiNnXQsha
 BXXoPaQ7X4HongVr0Z2QAougyAkM9Z3GSE8zsZ2K6RWVL1bMXfLv3mBWiz8Y
 MQ/ImJr+1QFmfFvz8Wu3vfTkq3any/mF278DfzALTW1/RG3fdhiSD5d27ES0
 fxDd40HUyPehuVtGtvUMygsceHRzH5oSs1CwbB26z2qZzEwMQIwVLJIVWXwH
 Gvc9hR/d7sDiykWIM1h0b4YWbyFsE7RUGdYsCVLOVTSM3EoBykc82gc52oOR
 vlaG7cG5iy/7ReWSyx+lTjlppXHYLGJmfEdr/eqtLz7xGomE8/Nf+Q6CWREk
 aSwUTv4AHuL1hOhFc6ACnmnLULTgZ1DdlF7vWwgHO8DbupBTwuPdwyp06jo9
 kTLE4nomC+QBq5NsH7UaRzbjkuIYrr9uEepGGiF0PA9rehAGGc9+x1PLQt04
 0n0NlJFDptxIvlm45oYvY9a8BRgdGnAcr35vdWfrqc85XJ72YFbOGeHh//gx
 utpOrtr28tOvCJA9a2+5C5FppUg2/gjJU/9J0u+AT6EhhKLUacsjXfgGwiOv
 ItX3FJLROJIx4mZZRYFjCLPCQ9hxUKUu1gHelUc0rJiTFutqxbE6JFqrcN9V
 NbCN7qIWZQid3gpIBAOnGidx4in6hAQLR2tLhLkY0oOH4OdPYcbMcjhDs1E+
 dwnCuQXo72nPrat+77bo6Ei+cMeX111PsNlit6rum2+9CzmF8xCv/TZSp/4b
 nMXNTneJPTTCuguRGQ/iWO9ryGl7FrlIo8iZQpZnjKa2KI2CcVTOHkXQr2Db
 bgWR7BBkIWSKT74/hZbDm3F1SS3mThujArTBSwY65XG0UOFKWho+exxShISr
 h5JBqDZIsdj5UOW0Pgi9T4JzFEP0zkcgFIEc70NzYwOsdofGt59pXB0bH7H7
 AwEEIjNMwHLEMqTrMNtEmPMepPmPIZToQNZoLapDV0G3C3DM4lB8mYjpxTSA
 xCzoOiXhmqIOrFtwGmc+3AuPcJa6RmKV1kNUK/W4dO4Iukd5dA/piMoCvMY4
 ytON6A0UwcixQx3RoMYzLRcbQYvIoaBLBR/5PNXFjWZNHX9/O/ZV7URuQWnt
 VatvWif84YnnDum6Gqqvq13Y3dGCgukVcOWvAe8shtK3g6JBEa74Nwi2XMRq
 volseRjdjkKkC73I5XoQbRTBj3Lwkrqy+WV0BFhUMIK6Tiva+jQUZEtoOvwX
 3Lz4NArzkxRJso5anCQLlJsoMUwMRtTYHs2Fd3Agk3GKmdvJo7IoRUP7fLiW
 baKg+tFQvQM7t71GMCpquPFLd63xBbO6hB//5Efp4rLZ2wXRkm44dvDq1tMn
 MI2Ey5O7AoJnNhs6IeV+AYmjd1JCaIiRBJQWd6MuNQfRbjuyiCV04mRe5Kj5
 ou7JwkOWNSzIH8bBJicaatowJ6sRlxf2IDbCQ0tSTmVTAxEbNTDYw8E6Mo4R
 qhmJmnWbHKN65rFwOsEqVAD70s0Q7Hk4U78fO7e+Am8g0rH6xltuDOcUtvAk
 7xM0ykMlmW6sO7z+nV1bHud5wXftujtRMmOu2Rclqu9Auu05ooQA3DOpLbBq
 GGq045DvMoTlfsweq4HGiebJHRuCYtR49Q2pONHtQkOXC7MivQRDBdEYkJo4
 ameD/rkxgCOIJt0hGOFcLFBPoqLQQGlhCNZlW2HxLyXjD+KNzc/Tvp7eq9Zs
 uKGotPyoeTRyrpUwDNaJUxtAA35Hy6llO7c890p8fKxg9drbMHfhCqLGdsSO
 3A1e2wNXhQfREzTgxGmso+wcCV4Km5bA/OGjEGhBlcv07zoNLwPDMQxRy6zw
 IbM5ZDMXm7QYraaVzM2O5M8dv7Q6ZmCZuxvLS1V4F/4CXOhadJ6pwesvPkHI
 skVnLV19TW5+yftej5uXJEk3D9aYA9xE93muiznb11W8d8emjW3NJ5cv/8wN
 WLFqLf0wAW34XsjtzyDZRc2USIay0wr6mxr/EoxbPFg0/D48yhgZbKFhaZyE
 qAjpkkfQH89DgtoC82iMM0xhM883jMw7iMxhE3W5FAJ2yEUIQEHxTIJbH3Zs
 fgaywo/PX77m5oLp5XssIjUqHGfYSMQ+5kDGeFWlMU20IhmPO99+86WnThx7
 f/3cRStw9drbwWbjRP2DSJ3+NUWEjOQlU3HZi4wWVxlRYhnKoieRF22AEFgC
 16KnSQ9mUntSj3d2b504mjHw12Mago5KdKOxaemvr6kyNuisSHSFFNyWXHzF
 2pupTnexA1mNeJnZOqkD7DTAPLukNnZkqB9H9u++r77mwC+zItMs1667ixQ6
 TCr5EhK198CsSKai7HUUbTZGulHrKkVx9hpUlH6bHKQ62bsVH+yvgiDZz5bN
 WXq/3ebsScRj1nQ6FkjF4x67wx2WJKtNluOKqsgCjYpWq9URJnvs5KReWDb3
 5Yp5CzYnE3HE2VH/hK1TcEDAQF83ooNDVJRj1x/Ys/U5QRD9N2z4OvIKpkMZ
 2I34sbugp3oJTi6TWngqVGnmQ7CVf5+asTT2vrERddUH4c/KOzGzcuVXXN5g
 jUAQSibGkUhSH0QjYm5eGXWXEWo9xkw4uT1eWG0OygITTwuRi4xw2I9odBzj
 44mLcYDHMPGyRjNuFsl3R8vJhW9t+/OfY+Nj5Z9d+xVUzFtKM28DYsRQ2nA1
 OGsAjvm/h3XaeupZerFzy9PobG1BbvGcLUXlC+8WBMcQOyTw+Z1kmGAeSkkW
 KxtMeLvdLtK+9E3gRFFU6bkaj8cNVpfMgZzcLHIgdnEOGOcdxrAf8qTMQ2e7
 I1Wvb3y5s+30FVetWY8lKz4LQx6g1uN+WIu/BkvoSnS1Hseu1zdiZHgUJbOW
 /CqvpPJ+9hbe6/bB5/OTTohsPV5RFJGYhKfvHBmjEW5UWZZ1hn/2roEcMIv5
 /+SAcd4Bjfkb6k3SqaTjnV2bflvzwbtfXXTpKly55hZzCmPXieq3sHfHFupj
 rImimQvvm1ZU/ierzQ4HDegup5untS3mu3Oe5+i7SoaqjFHYuRI5QwJIMzIV
 9cU4IF7Ma31DUwiftsTqtbf+k9Vq7zy8f9cPxkaHcPX1X0L9sbdxaN9u2FyB
 vulzlt9WRJTncjoJBbyFDGHGm/BghjOjzbf5F/FGftKTk4vKACNNPkNzNKZS
 XZy+Y/dfXv6NKPCeRHycmsGiD8rnr7w9O5LX5PW5rcQuXCwW02gdlaJukAPm
 +mwv9skiz76z////koGPyoL4gjYqn7PwWUmUGg/se/NP4bzpZ2gAv9vrCw5I
 kmghxpJZkPEPvv5XgAEA3tOGVLyEL/QAAAAASUVORK5CYII=


